.wiki_upper {
  margin-top: 2%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.wiki_img {
  width: 40%;
}

.wiki_info {
  width: 40%;
}

.wiki_info > h1 {
  font-weight: 600;
  font-size: 36px;
  color: #291507;
  padding-bottom: 5%;
}

.wiki_info > p {
  font-weight: 500;
  font-size: 18px;
  color: #291507;
  padding-bottom: 4%;
}

.wiki_info > p > span {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.wiki_img > img {
  height: 371px;
  width: 371px;
  border-radius: 24px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  color: #291507;
  padding-bottom: 3%;
}

.wiki_lower_images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.wiki_lower_images > div > img {
  height: 278px;
  width: 278px;
  border-radius: 24px;
}

.wiki_lower_images > div > p {
  color: red;
  margin-top: 5px;
}
