.about {
  padding: 5% 10% 10% 10%;
  display: flex;
  justify-content: space-between;
  height: 70vh;
}
.about_right {
  padding-top: 5%;
  width: 40%;
}

.about_right > hr {
  border: 2px solid #4d270c;
  border-radius: 77px;
  width: 59px;
  margin-bottom: 3%;
}

.about_right > h2 {
  font-weight: bold;
  font-size: 48px;
  color: #291507;
  margin-bottom: 10%;
}

.about_right > p {
  font-weight: 500;
  font-size: 18px;
  color: #291507;
  margin-bottom: 10%;
}

.about_right > span {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(41, 21, 7, 0.6);
}

.about_left > img:nth-child(1) {
  position: absolute;
  width: 238.47px;
  height: 385.87px;
  left: 74%;
  top: 1271.37px;
  border-radius: 24px;
}

.about_left > img:nth-child(2) {
  position: absolute;
  width: 273.52px;
  height: 167.08px;
  left: 52%;
  top: 1271.37px;
  border-radius: 24px;
}

.about_left > img:nth-child(3) {
  position: absolute;
  width: 195.49px;
  height: 293.24px;
  left: 57%;
  top: 1467.02px;
  border-radius: 24px;
}
